.progress_main {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  margin: 40px 20px;
  overflow-x: auto;
  white-space: nowrap;
}

tr {
  border: solid 1px black;
}

.underline {
  border-bottom: double 4px black;
}

.progress_th {
  margin-left: 20px;
  padding: 5px 10px;
  border: solid 1px black;
  text-align: center;
  position: sticky;
  left: 0px;
  color: white;
  background: #bcddff;
}

.item_th {
  padding: 5px 10px;
  border: solid 1px black;
  text-align: center;
  position: sticky;
  left: 67px;
  color: white;
  background: #bcddff;
}

.lotnumber_th {
  padding: 5px 10px;
  border: solid 1px black;
  text-align: center;
  position: sticky;
  left: 166px;
  color: white;
  background: #bcddff;
}

.date_th {
  border: solid 1px black;
  text-align: center;
  position: sticky;
  left: 283px;
  color: white;
  background: #bcddff;
}

.blank_th {
  position: sticky;
  left: 464px;
  color: #fff;
  background: white;
  border-bottom: double 4px black;
}

td {
  border: solid 1px black;
  text-align: center;
}

.progress_td {
  padding: 5px 10px;
  position: sticky;
  left: 0px;
  color: #33cc00;
  background: white;
}

.item_td {
  position: sticky;
  left: 67px;
  color: #404040;
  background: white;
}

.lotnumber_td {
  position: sticky;
  left: 166px;
  color: #404040;
  background: white;
}

.hour_th {
  padding-right: 40px;
  border: none;
}

.date_td {
  padding: 5px 10px;
  position: sticky;
  left: 283px;
  color: #9f9f9f;
  background: white;
}

.schedule_td {
  padding: 0 10px;
  position: sticky;
  left: 464px;
  color: #fff;
  background: #90ee90;
}

.existent_td {
  padding: 0 10px;
  position: sticky;
  left: 464px;
  color: #fff;
  background: #c0c0c0;
}

.progress_th:before,
.item_th:before,
.lotnumber_th:before,
.date_th:before,
.progress_td:before,
.item_td:before,
.lotnumber_td:before,
.date_td:before,
.schedule_td:before,
.existent_td:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.plans {
  padding: 6px 0;
  background-color: #98fb98;
}

.plans_start_half {
  padding: 6px 0;
  margin-left: 40px;
  background-color: #98fb98;
}

.plans_end_half {
  padding: 6px 0;
  margin-right: 40px;
  background-color: #98fb98;
}

.current_td {
  border: solid 1px black;
}

.current {
  padding: 6px 0;
  background-color: #a9a9a9;
}